/* Cascade Styles Configuration for Portfolio */

/* Body set-up */
body {
    padding: 0em;  
    cursor: auto; 
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

/* General Styles for Sections */
.section {
    padding: 2em;
    border-color: 3px transparent;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Section "About" Styles */
.section-about {
    background-color: #FFE0E9;
    text-align: left;
    
}

/* Sections "Greeting" (some word or phrase that needs to be addressed but not as a title per se) */
.section-greeting {
    font-weight: 700;
    font-size: 2rem;
    padding: 0%;   
}

/* Sections "Author" (whether it's a quote author or the author of this site, for example) */
.section-autor {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: #B9375E;
    padding: 0%;
    margin: 0;
}

/* Sections "Description"(a little text describing what it's this about)  */
.section-description {
    word-wrap: break-word;
    font-size: 1.5rem;
    flex-direction: column;
}

/* Sections "Principal Image" always related with the head of the section*/
.section-image {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    align-items: center;
}

/* Button specifications to meet the aesthetic of the web site*/
.btn {
    border-style: none;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-family: 'Noto Color Emoji', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    text-shadow: 1px 1px 5px black;
    display: inline-block;
    width: 15%;
    object-fit: cover;
    cursor: pointer;
}

/* Primary is set to main color of the palette which is #B9375E */
.btn-primary {
    background-color: #B9375E;
    color: #FFE0E9;
}

/* Secondary is set to second-main color of the palette which is #FFE0E9 */
.btn-secondary {
    background-color: #FFE0E9;
    color: #B9375E;
}

/* Styles for the Hyperlinks */

/* Hyperlink not visited */
a:link {
    color: #FFE0E9;
    text-decoration: none;
  }
  
  /* Hyperlink visited */
  a:visited {
    color: #FFE0E9;
    text-decoration: none;
  }

/* Flex container */
.flex-container {
    display: flex;
}

/* Elements that are expected to be displayed in a row */
.element-row {
    flex: 1;
}

/* Section "Skills" */
.section-skills {
    background-color: white;
    
}

/* Sections title */
.section-title {
    font-weight: 700;
    font-size: 2rem;
    padding: 0%;   
}

/* Title for section "Skills" */
.skills-title {
    color: #B9375E;
}

/* Grid for skills definition */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    gap: 20px; 
    justify-content: center;
    align-content: center;
}

.grid-item {
    background-color: transparent;
    padding: 20px;
    justify-content: center;
    align-content: center;
}

.grid-skill {
    background-color: #F2F2F2;
    border: 1px solid #3F3D56;
    border-radius: 5px;
}

.grid-skill:hover {
    border: 1px solid #B9375E;
    border-radius: 5px;
}

/* Size and Style definition for Icons related to skills */
.icon-skill {
    font-size: 5em;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}

.name-skill {
    font-size: 1.4em;
    font-weight: 700;
    color: #B9375E;
    display: block;
}

/* "Quote Interlude" styles */
.quote {
    background-color: #B9375E;
    padding-top: 3.5em;
    padding-bottom: 3.5em;
}

/* Styles for the quote itself */
.quote-content {
    font-size: 1.5em;
    font-weight: 700;
    color:#FFE0E9;
    display: inline-block;
}

/* Styles for the name of the autor of the quote */
.quote-autor {
    font-size: 2em;
    color: black;
    text-shadow: 1px 1px 2px #FFE0E9;
}

/* Section "My projects"styles */
.section-projects {
    background-color: #FFE0E9;
}




